$black: #000000;
$white: #FFFFFF;
$yellow: #D6FC52;

$manrope: "Manrope-Regular";
$permanent: "PermanentMarker-Regular";
$roboto: "Roboto-Regular";

$tablet: 1024px;
$mobileL: 768px;
$mobileM: 520px;
$mobileS: 420px;




@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: "PermanentMarker-Regular";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}


body {
    font-family: $manrope;
    background-color: $yellow;


}


.container {
    max-width: 1200px;
    padding: 0px 32px;
    margin: 0 auto;
}

nav {

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        @media screen and (max-width: $mobileM) {
            .mobile__menu__btn {
                 svg {
                    display: block; //chashxatec
                 }
            }

            .menu {
                display: none;
            }
        }

       

        .mobile__menu__btn {
            svg {
                display: none;
            }
        }


        .menu {
            ul {
                display: flex;
                gap: 44px;
                list-style-type: none;

            }
        }

        .buttons {
            display: flex;
            gap: 50px;


            #signin {
                border: none;
                background-color: $yellow;
                line-height: 20px;
            }

            #signup {
                border-radius: 10px;
                background-color: black;
                color: white;
                line-height: 20px;

            }



        }
    }

    @media screen and (max-width: 770px) {
        .nav {

            .logo {
                svg {
                    width: 100px;
                }
            }

            .menu {
                ul {
                    gap: 15px;

                    li {
                        font-size: 14px;
                    }
                }
            }

            .buttons {
                gap: 15px;
            }

        }

    }


}

header {
    .header {margin: 100px auto 0px auto;
            h1 {
                max-width: 1100px;
                font-size: min(100px, max(50px + 2vw));
                font-weight: 400;
                margin: auto;
                text-align: center;
                line-height: 100px;
                letter-spacing: 7px;
                

            }

            p {
                
                max-width: 753px;
                font-size: min(36px, max(18px + 2vw));
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 48px;
                text-align: center;
                margin: 62px auto 45px auto;
            }

            .try {
                max-width: 761px;
                background-color: $black;
                box-shadow: 0px 208px 58px rgba(0, 0, 0, 0.01);
                border-radius: 15px;
                margin: 0px auto 42px auto;
    
    
    
                p {
                    color: $yellow;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 58px;
                    letter-spacing: 0.8px;
    
                }
    
            }
    
                .trial {
                    font-size: 20px;
                    line-height: 15px;
                    color: $black;
                    text-align: center;
                    margin: 40px auto 0px auto;
    
                }

                @media screen and (max-width: 840px) {
                    h1 {
                        font-size: min(80px, max(40px + 2vw));
                        line-height: 60px;
                    }

                    p {
                        font-size: min(30px, max(15px + 2vw));
                        margin: 35px auto 45px auto;
                    }

                    .try { 
                        max-width: 500px;
                        
                        p {
                            font-size: 25px;
                        }
                    }

                    .trial { 
                        font-size: 18px;
                    }
                    
                }

                @media screen and (max-width: $mobileM) {
                    h1 {
                        font-size: min(70px, max(35px + 2vw));
                        line-height: 45px;
                    }

                    p {
                        font-size: min(26px, max(13px + 2vw));
                        margin: 30px auto 40px auto;
                    }

                    .try { 
                        max-width: 300px;
                        
                        p {
                            font-size: 20px;
                        }
                    }

                    .trial { 
                        font-size: 15px;
                    }
                    
                }
    

            }
        }  
    

    


main {
    .main {margin-top: 300px;
        .super__easy {

            h3 {
                max-width: 1100px;
                font-size: min(100px, max(50px + 2vw));
                font-weight: 400;
                margin: auto;
                text-align: center;
                line-height: 100px;
                letter-spacing: 7px;

            }

            p {
                max-width: 753px;
                font-size: min(36px, max(18px + 2vw));
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 48px;
                text-align: center;
                margin: 62px auto 45px auto;
            }

            img {
                width: 100%;
            }


        }

        .super__fast {
            margin-top: 70px;

            h3 {
                max-width: 1100px;
                font-size: min(100px, max(50px + 2vw));
                font-weight: 400;
                margin: auto;
                text-align: center;
                line-height: 100px;
                letter-spacing: 7px;
            }

            p {
                max-width: 753px;
                font-size: min(36px, max(18px + 2vw));
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 48px;
                text-align: center;
                margin: 62px auto 45px auto;
            }

            img {
                width: 100%;
            }

        }

        .low__cost {
            margin-top: 70px;

            h3 {
                max-width: 1100px;
                font-size: min(100px, max(50px + 2vw));
                font-weight: 400;
                margin: auto;
                text-align: center;
                line-height: 100px;
                letter-spacing: 7px;
            }

            p {
                max-width: 753px;
                font-size: min(36px, max(18px + 2vw));
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 48px;
                text-align: center;
                margin: 62px auto 45px auto;
            }

            img {
                width: 100%;
            }
        }

        .meet {margin-top: 70px;
            h3 {
                max-width: 1100px;
                font-size: min(100px, max(50px + 2vw));
                font-weight: 400;
                margin: auto;
                text-align: center;
                line-height: 100px;
                letter-spacing: 7px;

            }
            img{
                display: block;
                max-width: 400px;
                margin: auto;

            }
            .try2{
                max-width: 761px;
                background-color: $black;
                box-shadow: 0px 208px 58px rgba(0, 0, 0, 0.01);
                border-radius: 15px;
                margin: 0px auto 42px auto;
                text-align: center;
                p {
                    color: $yellow;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 58px;
                    letter-spacing: 0.8px;
                }
                
            }

            .trial2 {
                font-size: 20px;
                line-height: 15px;
                color: $black;
                text-align: center;
                margin: 40px auto 0px auto;
            }

            @media screen and (max-width: 840px) {
                h3 {
                    font-size: min(80px, max(40px + 2vw));
                    line-height: 60px;
                }

                .try2 { 
                    max-width: 500px;
                    
                    p {
                        font-size: 25px;
                    }
                }

                .trial2 { 
                    font-size: 18px;
                }

                img {
                    max-width: 350px;
                }
            }

            @media screen and (max-width: $mobileM) {
                h3 {
                    font-size: min(70px, max(35px + 2vw));
                    line-height: 45px;
                }


                .try2 { 
                    max-width: 300px;
                    
                    p {
                        font-size: 20px;
                    }
                }

                .trial2 { 
                    font-size: 15px;
                }

                img {
                    max-width: 300px;
                }
            }
        }

        .speacial__offer {
            margin-top: 79px;
            div {
                width: 100%;
                background-color: $black;
                
                
                p {
                    color: #D6FC52;
                    font-family: $permanent;
                    font-size: 62px;
                    line-height: 161px;
                    font-weight: 400;
                    margin: auto 30px auto 500px;
                    
                }
            }
            p {
                max-width: 753px;
                font-size: min(36px, max(18px + 2vw));
                font-weight: 400;
                letter-spacing: 1px;
                line-height: 48px;
                text-align: center;
                margin: 62px auto 45px auto;

            }

            @media screen and (max-width: 1050px){
                div {
                  p {
                    margin: auto;
                  }
                }
            }

            @media screen and (max-width: 840px){
                p {
                    font-size: min(30px, max(15px + 2vw));
                    margin: 35px auto 45px auto;
                }

                @media screen and (max-width: $mobileM) {
                    font-size: min(26px, max(13px + 2vw));
                    margin: 30px auto 40px auto;
                }
            }


        }

        @media screen and (max-width: 840px) {
            .super__easy, .super__fast, .low__cost {
                h3 {
                    font-size: min(80px, max(40px + 2vw));
                    line-height: 60px;
                }

                p {
                    font-size: min(30px, max(15px + 2vw));
                    margin: 35px auto 45px auto;
                }
            }
        }

        @media screen and (max-width: $mobileM) {
            .super__easy, .super__fast, .low__cost {
                h3 {
                    font-size: min(70px, max(35px + 2vw));
                    line-height: 45px;
                }

                p {
                    font-size: min(26px, max(13px + 2vw));
                    margin: 30px auto 40px auto;
                }
            }
        }

    }

  

}

footer {margin-top: 55px;
    .footer{
        .footer__top {display:flex;
            align-items: center;
            gap: 60px;
            .footer__menu {
                ul {
                    display: flex;
                    gap: 40px;
                    list-style-type: none;
                    li {
                        a{
                            display: block;
                            text-decoration: none;
                            color: $black;
                            font-size: 15px;

                        }
                    }
                }
            }

            @media screen and (max-width: 600px) {
                gap: 15px
            }

            @media screen and (max-width: 545px) {
                gap: 15px;

                .footer__logo {
                    svg{ 
                        width: 90px;
                    }
                }
                .footer__menu {
                    ul {
                        padding-left: 0px;
                    }
                }
                
            }

        }

        hr{
            
            background-color: rgba(0, 0, 0, 0.15);
            height: 1px;
        }

        .footer__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{

            }

            .boxes {
                display: flex;
                gap: 5px;
               div{
                width: 40px;
                height: 40px;
                background-color: $black;
               } 

               div{
                width: 40px;
                height: 40px;
                background-color: $black;
               }
            }
        }
    }
}